.CA {
  width: 680px;
  height: 40px;
  margin: 10px 30px;
  padding: 30px 0px;
}
.CA p {
  width: 640px;
  height: 20px;
  margin: 0px 0px;
  padding: 10px 20px;
  color: white;
  background: #79b429;
  font-size: 20px;
  line-height: 1;
  border-radius: 3px;
  opacity: 0.8;
}