* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #E0E0E0;
  font: 12px/1.5 "Microsoft JhengHei",Pmingliu,"Segoe UI","Segoe UI Web Regular","Segoe UI Symbol","Helvetica Neue","BBAlpha Sans","S60 Sans",Arial,"sans-serif";
}

h1 {
  font-size: 2em;
  line-height: 1.5;
}
h2 {
  font-size: 1.5em;
  line-height: 1.5;
}
h3 {
  font-size: 1.33em;
  line-height: 1.5;
}

a {
  /*font-weight: bold;*/
  text-decoration: none;
}
a:link {
  color: #79b429;
}
a:visited {
  color: #79b429;
}
a:hover {
  color: #79b429;
}
a:active {
  color: #79b429;
}

b {
  font-weight: 700;
}


/*******************************************************************************/
/*************************************************************************************************/

#header {
  position: fixed;
  z-index: 2;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 60px;
  background-color: #404040;
}
/*shadow*/
#header {
  -webkit-box-shadow: 0px 1px 5px #888888;
  -moz-box-shadow: 0px 1px 5px #888888;
  box-shadow: 0px 1px 5px #888888;
}
#header #logo {
  position: absolute;
  top: 15px;
  left: 50px;
}
#header #search {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 300px;
  height: 60px;
  background-color: #404040;
}
#header #search form {
  height: 60px;
  margin-left: 70px;
}
#header #search form #q {
  width: 180px;
  height: 30px;
  padding-left: 30px;
  margin: 15px 50px 15px 0px;
  background: url(../image/search.png) no-repeat;
  background-position: 2px 3px;
  background-color: white;
  text-transform: lowercase;
  color: #888888;
  border-width: 0px;
  border-radius: 3px;
}
    #q:focus {
        -webkit-transition: all 0.3s ease-out;
        -ms-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
        outline: none;
        box-shadow: 0 0 5px #79b429;
    }
/*#header #search #search-icon {
  position: absolute;
  top: 15px;
  right: 230px;
  width: 30px;
  height: 30px;
  background-color: white;
  border: 1px solid #505050;
  border-width: 0px;
  border-radius: 3px 0px 0px 3px;
}
#header #search #search-icon img {
  margin-top: 3px;
  margin-bottom: 3px;
}*/


/*************************************************************************************************/
/*************************************************************************************************/

#navigation {
  position: fixed;
  z-index: 1;
  top: 60px;
  left: 0px;
  width: 100%;
  height: 30px;
  background-color: white;
  font-size: 14px;
  line-height: 1;
}
/*shadow*/
#navigation {
  -webkit-box-shadow: 0px 0px 5px #888888;
  -moz-box-shadow: 0px 0px 5px #888888;
  box-shadow: 0px 0px 5px #888888;
}
#navigation #rss {
  position: absolute;
  left: 50px;
  top: 7px;
}
#navigation #write {
  position: absolute;
  right: 50px;
  top: 7px;
}
#navigation #nav-wrapper {
  width: 960px;
  margin: 0 auto;
  height: 30px;
}
#menu {
  float: left;
  width: 940px;
  height: 30px;
}
#menu ul {
  float: left;
  height: 30px;
  list-style: none;
}
#menu li {
  float: left;
  width: auto;
  margin-right: 50px;
}
#menu li a {
  display: block;
  /*height: 14px;*/
  height: 30px;
  line-height: 30px;
  width: auto;
  text-align: left;
  /*padding: 8px 0px;*/
}
#menu a:link,#menu a:visited {
  color: #404040;
  -webkit-transition: color .30s ease-out;
  -moz-transition: color .30s ease-out;
  transition:  color .30s ease-out;
  background-color: transparent;
}
#menu a:hover {
  color: #79b429;
  -webkit-transition: color .30s ease-out;
  -moz-transition: color .30s ease-out;
  transition:  color .30s ease-out;
}
#menu a.here:link,
#menu a.here:visited,
#menu a.here:hover,
#menu a.here:active {
  color: #79b429;
}

/*************************************************************************************************/
/*************************************************************************************************/
 

#page {
  width: 960px;
  margin-top: 110px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;
  background-color: white;
  border-radius: 3px 3px 0px 0px;
}
/***************************************/
.post {           /*for home page*/
   width: 730px;
   margin: 0px 30px 10px 30px;
   /*border-bottom: 1px dashed #B8B8B8;*/
}
.single-post { /*for post page*/
   width: 730px;
   margin: 0px 30px 10px 30px;
   /*border-bottom: 1px dashed #B8B8B8;*/
}

.single-post .content {
  margin-bottom: 30px;
} 
.aboutPost {
  float: left;
  width: 150px;
  padding: 30px 0px 30px 0px;
}
/*post time, category, and tag*/
.post-time {
  width: 150px;
  line-height: 1;
}
.post-time a:link, .post-time a:visited {
  color: white;
}
.post-time .time {
  width: 135px;
  height: 30px;
  line-height: 30px;
  color: #404040;
  /*border-top: 1px solid #79b429;
  border-bottom: 1px solid #79b429;*/
  background-color: #79b429;
}
.post-time .time .day {
  float: left;
  margin: 0 5px 0 10px;
  font-size: 24px;
  height: 30px;
  line-height: 30px;
  font-weight: bold;
}
.post-time .time .month_year {
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  font-weight: bold;
}
.post-time .arrow {
  float: right;
  border-top: 15px solid white;
  border-left: 15px solid #79b429;
  border-bottom: 15px solid white;
}
.post-time .category {
  width: 135px;
  height: 30px;
  color: white;
  border-top: 1px solid #404040;
  border-bottom: 1px solid #404040;
  background-color: #404040;
  opacity: 0.8;
}
.post-time .category p {
  margin: 0 10px;
  padding-left: 20px;
  height: 30px;
  line-height: 30px;
  background: url(../image/category.gif) no-repeat;
  background-position: 0 9px;
  overflow: hidden;
}
.post-time .tag {
  width: 135px;
  height: 30px;
  color: white;
  border-top: 1px solid #404040;
  border-bottom: 1px solid #404040;
  background-color: #404040;
  opacity: 0.8;
}
.post-time .tag p {
  margin: 0 10px;
  padding-left: 20px;
  height: 30px;
  line-height: 30px;
  background: url(../image/tag.gif) no-repeat;
  background-position: 0 9px;
  overflow: hidden;
}
.post-time .comment {
  width: 135px;
  height: 30px;
  color: white;
  border-top: 1px solid #404040;
  border-bottom: 1px solid #404040;
  background-color: #404040;
  opacity: 0.8;
}
.post-time .comment p {
  margin: 0 10px;
  padding-left: 20px;
  height: 30px;
  line-height: 30px;
  background: url(../image/comment.gif) no-repeat;
  background-position: 0 9px;
  overflow: hidden;
}


div.category:hover, div.tag:hover, div.comment:hover {
  -webkit-transition: all .50s ease-out;
  -moz-transition: all .50s ease-out;
  transition:  all .50s ease-out;
  opacity: 1;
}

/*****************************************************/

/*post content*/
.content {
  width: 560px;
  margin: 0px 0px 0px 170px;
  padding: 30px 0px 30px 0px;
  color: #555;  
  font-size: 14px;
}
.content h2 {
  font-weight: 100;
  font-size: 30px;
  line-height: 1;
  color: #79b429;
  margin-bottom: 20px;
}
.content p {
	font: 14px/1.5 "Microsoft Yahei","Microsoft JhengHei",Pmingliu,"Segoe UI","Segoe UI Web Regular","Segoe UI Symbol","Helvetica Neue","BBAlpha Sans","S60 Sans",Arial,"sans-serif";
	font-weight: lighter;
}
.content p.small {
  font-size: 12px;
}
.content p.center {
  text-align: center;
}
.content p.imgContainer {
  text-align: center;
}
.content p.imgContainer img {
  width: 500px;
}
.content p a {
  text-decoration: underline;
}
.content .cmdLine {
  margin: 5px 20px;
  padding: 10px 20px;
  border: 1px solid #ddd;
  background-color: #f8f8f8;
  border-radius: 3px;
}
.content .cmdLine p {
  font: 12px/1.5 Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
#disqus_thread {
  width: 560px;
  margin-left: 170px;
}
/***************************************************************************************/
/*sidebar*/
#sidebar-container {
  float: right;
  width: 150px;
  margin-right: 30px;
}
.sidebar {
  margin: 30px 0px;
  color: #404040;
}
.sidebar h3 {
  padding: 7px 0px;
  line-height: 1;
}
.sidebar .sidebar-info {
  padding: 0px 15px;
}
.sidebar #clock {
 padding: 0px;
}
.sidebar span {
  display: inline-block;
  float: right;
}


div.clear {
	width: 100%;
	height: 2px;
	clear: right;
}
/*******************************************************************************************/
/*******************************************************************************************/

/*A switch to turn on/off the hidden bar*/
#hiddenBar {
  position: fixed;
  top: 110px;
  right: -420px;
  width: 440px; 
  height: 212px;
  z-index: 1;
  border-radius: 5px 0px 0px 5px;
  -webkit-box-shadow: 0px 1px 3px #444;
  -moz-box-shadow: 0px 1px 3px #444;
  box-shadow: 0px 1px 3px #444;
}
#hBground {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 440px;
  height: 212px;
  z-index: 2;
  background: white;
  border: 1px solid #E0E0E0;
  border-right-width: 0px;
  border-radius: 5px 0px 0px 5px;
  opacity: 0.9;
}
#tiemuxu {
  position: absolute;
  left: 42px;
  top: 70px;
  color: #79b429;
  font-size: 16px;
  font-weight: bold;
  z-index: 5;
}
#hide-sidebar {
  display: none;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 320px;
  height: 172px;
  z-index: 5;
  color: white;
  background-color: #79b429;
  margin-top: 0px;
  border-radius: 3px;
}
#hide-sidebar .avatar {
  float: left;
  width: 88px;
  height: 80px;
  border: 5px solid white;
  margin: 20px 10px 0px 20px;
  border-radius: 3px 3px 3px 3px;
}
#hide-sidebar .about {
  margin: 20px 20px 0px 130px;
}

#hide-sidebar .social {
  float: left;
  margin: 10px 20px 20px 20px;
  list-style: none;  
}
#hide-social li {
  float: left;
  margin-right: 10px;
  width: 32px;
  height: 32px;
}
#hide-social a {
  display: block;
  width: 32px;
  height: 32px;
}

#gplus {
  background: url("../image/socials.png") 0 0;
}
#gplus a:hover {
  background: url("../image/socials.png") 0 -32px;
}

#twi {
  background: url("../image/socials.png") -32px 0;
}
#twi a:hover {
  background: url("../image/socials.png") -32px -32px;
}

#dou {
  background: url("../image/socials.png") -64px 0;
}
#dou a:hover {
  background: url("../image/socials.png") -64px -32px;
}

#weibo {
  background: url("../image/socials.png") -96px 0;
}
#weibo a:hover {
  background: url("../image/socials.png") -96px -32px;
}



/*****************************************************************************************************/
/*****************************************************************************************************/

/*footer*/
#footer {
  clear: right;
  width: 960px;
  height: 20px;
  margin: 0px auto 20px auto;
  padding: 10px 0px;
  font-size: 14px;
  color: #B8B8B8;
  background-color: white;
  border-top: 1px solid #B8B8B8;
  border-radius: 0px 0px 3px 3px;
}
#footer .copyright {
  float: left;
  margin-left: 30px;
}
#footer .designer {
  float: right;
  margin-right: 30px;
}
