* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #E0E0E0;
  font: 12px/1.5 Arial;
}

h1 {
  font-size: 2em;
  line-height: 1.5;
}
h2 {
  font-size: 1.5em;
  line-height: 1.5;
}
h3 {
  font-size: 1.33em;
  line-height: 1.5;
}

a {
  font-weight: bold;
  text-decoration: none;
}
a:link {
  color: #79b429;
}
a:visited {
  color: #79b429;
}
a:hover: {
  color: #79b429;
}
a:active {
  color: #79b429;
}

/*******************************************************************************/
/*************************************************************************************************/

#header {
  position: fixed;
  z-index: 2;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 60px;
  background-color: #404040;
}
/*shadow*/
#header {
  -webkit-box-shadow: 0px 1px 5px #888888;
  -moz-box-shadow: 0px 1px 5px #888888;
  box-shadow: 0px 1px 5px #888888;
}
#header #logo {
  position: absolute;
  top: 15px;
  left: 50px;
}
#header #search {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 300px;
  height: 60px;
  background-color: #404040;
}
#header #search form {
  height: 60px;
  margin-left: 70px;
}
#header #search form #search-text {
  width: 180px;
  height: 30px;
  margin: 15px 50px 15px 0px;
  background-color: white;
  text-transform: lowercase;
  color: #888888;
  border-width: 0px;
}
#header #search #search-icon {
  position: absolute;
  top: 15px;
  right: 230px;
  width: 30px;
  height: 30px;
  background-color: white;
  border: 1px solid #505050;
  border-width: 0px;
}
#header #search #search-icon img {
  margin-top: 3px;
  margin-bottom: 3px;
}
#header #decoration {
  width: 1040px;
  height: 60px;
  margin: 0 auto;
}
#header #decoration #rss {  
  float: right;
  margin-top: 2px;
  margin-right: 200px;
  width: 48px;
  height: 48px;
}

/*************************************************************************************************/
/*************************************************************************************************/

#navigation {
  position: fixed;
  z-index: 1;
  top: 60px;
  left: 0px;
  width: 100%;
  height: 30px;
  background-color: white;
  font: 14px/1 Arial, sans-serif;
}
/*shadow*/
#navigation {
  -webkit-box-shadow: 0px 2px 10px #888888;
  -moz-box-shadow: 0px 2px 10px #888888;
  box-shadow: 0px 2px 10px #888888;
}
#navigation #rss {
  position: absolute;
  left: 50px;
  top: 7px;
}
#navigation #write {
  position: absolute;
  right: 50px;
  top: 7px;
}
#navigation #nav-wrapper {
  width: 1040px;
  margin: 0 auto;
  height: 30px;
}
#menu {
  float: left;
  width: 1040px;
  height: 30px;
}
#menu ul {
  float: left;
  height: 30px;
  list-style: none;
}
#menu li {
  float: left;
  width: 100px;
  /*border: 1px solid red;*/
}
#menu li a {
  display: block;
  height: 14px;
  width: 50px;
  /*border: 1px dotted green;*/
  text-align: left;
  padding: 8px 0px;
  /*padding: 0 56.5px;*/
}
#menu a:link,#menu a:visited {
  color: #404040;
  background-color: transparent;
}
#menu a:hover {
  color: #79b429;
}
#menu a.here:link,
#menu a.here:visited,
#menu a.here:hover,
#menu a.here:active {
  color: #79b429;
}

/*************************************************************************************************/
/*************************************************************************************************/
 

#page {
  width: 1040px;
  margin-top: 110px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;
  background-color: white;
}
/***************************************/
.post {           /*for home page*/
   width: 760px;
   margin: 0px 30px 10px 20px;
   border-bottom: 1px dashed #B8B8B8;
}
.single-post { /*for post page*/
  width: 760px;
  margin: 0px 30px 10px 20px;
}
/*post time, category, and tag*/
.post-time {
  float: left;
  width: 140px;
  margin: 20px 0px 10px 0px;
}
.post-time a:link, .post-time a:visited {
  color: white;
}
.post-time .time {
  width: 125px;
  height: 30px;
  color: #404040;
  border-top: 1px solid #79b429;
  border-bottom: 1px solid white;
  background-color: #79b429;
}
.post-time .time .day {
  float: left;
  margin: 3px 5px 3px 10px;
  font: 24px/1 Arial, sans-serif;
  font-weight: bold;
}
.post-time .time .month_year {
  margin: 7px 0px;
  font: 16px/1 Arial, sans-serif;
  font-weight: bold;
}
.post-time .arrow {
  float: right;
  border-top: 15px solid white;
  border-left: 15px solid #79b429;
  border-bottom: 15px solid white;
}
.post-time .category {
  width: 125px;
  height: 30px;
  color: white;
  border-top: 1px solid white;
  border-bottom: 1px solid #404040;
  background-color: #404040;
  opacity: 0.8;
}
.post-time .category p {
  margin: 7px 2px 7px 10px;
  padding-left: 20px;
  height: 16px;
  background: url(../image/category.gif) no-repeat;
}
.post-time .tag {
  width: 125px;
  height: 30px;
  color: white;
  border-top: 1px solid #404040;
  border-bottom: 1px solid #404040;
  background-color: #404040;
  opacity: 0.8;
}
.post-time .tag p {
  margin: 7px 2px 7px 10px;
  padding-left: 20px;
  height: 16px;
  background: url(../image/tag.gif) no-repeat;
}
.post-time .comment {
  width: 125px;
  height: 30px;
  color: white;
  border-top: 1px solid #404040;
  border-bottom: 1px solid #404040;
  background-color: #404040;
  opacity: 0.8;
}
.post-time .comment p {
  margin: 7px 2px 7px 10px;
  padding-left: 20px;
  height: 16px;
  background: url(../image/comment.gif) no-repeat;
}

/*****************************************************/

/*post content*/
.content {
  width: 610px;
  margin: 0px 0px 0px 150px;
  padding: 20px 0px 10px 0px; 
  font: 16px/1.5 Arial, sans-serif;
  letter-spacing: normal;
}
.content h2 {
  font-weight: bold;
  font-size: 30px;
  line-height: 1;
  color: #79b429;
  margin-bottom: 20px;
}

/***************************************************************************************/
/*sidebar*/
#sidebar-container {
  float: right;
  width: 200px;
}
.sidebar {
  margin: 20px 20px 20px 0px;
}
.sidebar h3 {
  padding: 7px 0px;
  line-height: 1;
  color: black;
}
.sidebar .sidebar-info {
  padding: 0px 15px;
}
.sidebar #clock {
 padding: 0px;
}

/*******************************************************************************************/
/*******************************************************************************************/

/*控制隐藏信息显示与否的开关*/
#switch {
  position: fixed;
  top: 110px;
  right: -25px;
  width: 50px;
  z-index: 1;
}
#switch #switch-arrow {
  float: left;
  border-right: 15px solid #404040;
  border-top: 15px solid #E0E0E0;
  border-bottom: 15px solid #E0E0E0;
}
#switch #switch-bar {
  width: 35px;
  height: 30px;
  margin-left: 15px;
  background-color: #404040;
}
/*switch shadow*/
#switch {
  -webkit-box-shadow: 50px 5px 20px #686868;
  -moz-box-shadow: 50px 5px 20px #686868;
  box-shadow: 15px 40px 25px #888888;
}
/*隐藏的博主信息栏*/
#hide-sidebar {
  display: none;
  position: fixed;
  top: 110px;
  right: 50px;
  width: 280px;
  height: 400px;
  z-index: 5;
  color: white;
  background-color: #79b429;
}
/*shadow*/
#hide-sidebar {
  -webkit-box-shadow: 5px 5px 5px #686868;
  -moz-box-shadow: 5px 5px 5px #686868;
  box-shadow: 15px 40px 25px #888888;
}
#hide-sidebar h3 {
  color: #404040;
}
#hide-sidebar #hide-arrow {
  /*display: none;*/
  position: absolute;
  top: 0px;
  right: 0px;
  border-right: 15px solid #E0E0E0;
  border-top: 15px solid #79b429;
  border-bottom: 15px solid #79b429;
}
#hide-sidebar .social {
  display: none;
  float: right;
  width: 32px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 20px; 
}
#hide-sidebar .social .icon {
  display: block;
  margin-bottom: 9px;
}
#hide-sidebar .avatar {
  display: none;
  width: 160px;
  height: 143px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 0px;
  border-width: 6px;
  border-color: #E8E8E8;
  border-style: solid;
}
#hide-sidebar .about {
  display: none;
  width: 260px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 0px;
  padding-bottom: 10px;
  border-color: white;
  border-style: dotted;
  border-width: 0;
  border-bottom-width: 2px;
  
}
#hide-sidebar .contact {
  display: none;
  width: 260px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 0px;
}


/*footer*/
#footer {
  clear: right;
  width: 1040px;
  height: 20px;
  margin: 0px auto 20px auto;
  padding: 20px 0px;
  font: 14px/1.5 Arial, sans-serif;
  color: #B8B8B8;
  background-color: white;
  border-top: 1px solid #79b429;
}
#footer .copyright {
  float: left;
  margin-left: 10px;
}
#footer .designer {
  float: right;
  margin-right: 10px;
}