* {
  padding: 0;
  margin: 0;
}
body {
    background: url(../image/wallpaper5.png);
	background-repeat:  repeat-all;
	/*background-attachment: fixed;
	filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
	-moz-background-size: 100%;
	background-size: 100%;*/
    color: #fff;
    font: 12px/1.5 Arial;
}

h1 {
  font-family: 'MuseoSlab500', "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", "SimHei";
  font-size: 2em;
  line-height: 1;
  font-weight: bold;
}
h2 {
  font-family: 'MuseoSlab500', "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", "SimHei";
  font-size: 1.5em;
  line-height: 1;
}
h3 {
  font-family: 'MuseoSlab500', "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", "SimHei";
  font-size: 1.33em;
  line-height: 1;
}

a {
    color: #888888;
    font-weight: bold;
    text-decoration: none;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
}

    a:hover,
	a.selected {
		color: #79b429;
	}


/***************************************************************************************/
header {
    position: fixed;
	z-index: 100;
	top: 0px;
	left: 0px;
    width: 100%;
    height: 60px;
    background: #1b1c1e;
	/*-webkit-box-shadow: 0px 2px 10px #686868;
    -moz-box-shadow: 0px 2px 10px #686868;
    box-shadow: 0px 1px 1px #686868;*/
}
header #logo {
    width: 800px;
	height: 100px;
	margin: 15px auto;
}
header h1 {
    font-size: 30px;
	line-height: 1;
}
header #menu {
    float: right;
	width: 400px;
	height: 30px;
	padding: 0;
	font-family: 'MuseoSlab500', "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", "SimHei";
}
header #menu ul {
	float: right;
	height: 30px;
	margin: 0px;
	padding: 0px;
	list-style: none;
	line-height: normal;
}
#menu li {
	float: left;
	padding: 0px 0px 0px 20px;
}
#menu a {
	display: block;
	height: 20px;
	padding: 5px;
	padding-right: 0px;
	text-decoration: none;
	text-align: center;
	font-size: 16px;
}

#page {
    margin: 90px auto 100px auto;
	width: 800px;
}
.section {
    width: 100%;
    margin: 30px auto;
	/*-webkit-box-shadow: -1px 1px 5px #686868;
    -moz-box-shadow: -1px 1px 5px #686868;
    box-shadow: -1px 1px 5px #686868;
	border-radius: 5px;*/
}
.section h1 {
    height: 24px;
	width: 800px;
	padding: 20px 0px;
	color: white;
	/*background: white; 
	text-align: center;
	border-radius: 0px 0px 5px 5px;*/
}
.section .content {
    width: 800px;
}



#basic {
    width: 800px;
}
#outTable {
    width: 800px;
	
	/*border-radius: 5px 5px 0px 0px;*/
}

.outTd {
    padding: 0px 20px;
}
.innerTable  td {
    font: 16px/1 arial, sans-serif;
	padding: 10px 50px;
	font-weight: bold;
	border-width: 0px;
	color: #B2FFED;
	/*border: 1px solid #404040;*/
}
.odd {
    font-size: 16px;
	padding: 5px 20px;
	margin: 5px;
	text-align: center;
	color: #404040;
	background: #79b429;
	border-radius: 2px;	
}
.even {
    font-size: 16px;
	padding: 5px 20px;
	margin: 5px;
	text-align: center;
	color: #404040;
	background: #DCE248;
	border-radius: 2px;
}



/*#basic h1 {
    height: 24px;
	width: 760px;
	padding: 20px;
	color: #404040;
	background: white; 
	text-align: center;
	border-radius: 0px 0px 5px 5px;
}*/



/*#pie h1 {
    height: 24px;
	width: 760px;
	padding: 20px;
	color: #404040;
	background: white; 
	text-align: center;
	border-radius: 0px 0px 5px 5px;
}*/
#pie {
}
#pie h1 .small {
    font: 16px/1 'MuseoSlab500', "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", "SimHei";
}
#pielegend {
    float: right;
    width: 100px;
	margin-top: 20px;
	color: #686868;
	list-style: none;
	font: 16px/1 'MuseoSlab500', "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", "SimHei";
}
#pielegend li {
    padding: 5px;
}
#it {
    float: left;
	width: 16px;
	height: 16px;
	margin-right: 10px;
	background: #79b429;
	border-radius: 8px;
}
#design {
    float: left;
	width: 16px;
	height: 16px;
	margin-right: 10px;
	background: #B2FFED;
	border-radius: 8px;
}
#humanlan {
    float: left;
	width: 16px;
	height: 16px;
	margin-right: 10px;
	background: #DCE248;
	border-radius: 8px;
}
#holder {
    height: 270px;
    border-left: 2px solid #686868; 
	border-bottom: 2px solid #686868;
    /*position: absolute;
    top: 100px;*/
    width: 675px;
	margin: 0px 100px 0px 25px;
	/*border: 20px solid white;*/
	/*border-top-width: 0px;
	
	border-radius: 5px 5px 0px 0px;*/
}

#works ul {
    margin-left: 25px;
	list-style: none;
	font: 16px/1 'MuseoSlab500', "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", "SimHei";
}
#works .worksdot {
    float: left;
	width: 16px;
	height: 16px;
	margin-right: 10px;
	background: #79b429;
	border-radius: 8px;
}

footer {
    width: 800px;
	margin: 50px auto 0px auto;
	color: #C8C8C8;
	background: #1b1c1e;
	padding: 10px;
	text-align: center;
	border-radius: 5px 5px 0px 0px; 
}