

	#timeline {
		width: 775px;
		height: 180px;
		overflow: hidden;
		margin-left: 25px;
		position: relative;
		background: url('../image/dot.gif') left 45px repeat-x;
	}
		#dates {
			width: 775px;
			height: 60px;
			overflow: hidden;
		}
			#dates li.studydot {
				list-style: none;
				float: left;
				width: 200px;
				height: 50px;
				font-size: 14px;
				text-align: center;
				background: url('../image/studydot.png') center bottom no-repeat;
			}
			#dates li.studyline {
				list-style: none;
				float: left;
				width: 200px;
				height: 50px;
				font-size: 14px;
				text-align: center;
				background: url('../image/studyline.png') center bottom no-repeat;
			}
			#dates li.workdot {
				list-style: none;
				float: left;
				width: 200px;
				height: 50px;
				font-size: 14px;
				text-align: center;
				background: url('../image/workdot.png') center bottom no-repeat;
			}
			#dates li.workline {
				list-style: none;
				float: left;
				width: 200px;
				height: 50px;
				font-size: 14px;
				text-align: center;
				background: url('../image/workline.png') center bottom no-repeat;
			}
				#dates a {
					line-height: 24px;
					padding-bottom: 10px;
				}
				#dates .selected {
			        font-size: 24px;
				}
		
		#issues {
			width: 775px;
			height: 180px;
			overflow: hidden;
		}	
			#issues li {
				
				list-style: none;
				float: left;
			}
				#issues li.selected img {
					-webkit-transform: scale(1.1,1.1);
					-moz-transform: scale(1.1,1.1);
				    -o-transform: scale(1.1,1.1);
				    -ms-transform: scale(1.1,1.1);
				    transform: scale(1.1,1.1);
				}
				#issues li img {
					float: left;
					margin: 10px 200px 10px 50px;
					background: transparent;
					-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; /* IE 8 */   
					filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);/* IE 6 & 7 */      
					zoom: 1;
					-webkit-transition: all .5s ease-in;
					-moz-transition: all .5s ease-in;
					-o-transition: all .5s ease-in;
					-ms-transition: all .5s ease-in; 
					transition: all .5s eease-in;
					-webkit-transform: scale(0.7,0.7);
					-moz-transform: scale(0.7,0.7);
				    -o-transform: scale(0.7,0.7);
				    -ms-transform: scale(0.7,0.7);
				    transform: scale(0.7,0.7);
				}
				#issues .char {
				    float: right;
				    width: 300px;
					margin-right: 125px;
				}
				#issues li h2 {
					color: #404040;
					font-size: 30px;
					margin: 10px 0;
					padding: 10px;
					text-align: center;
					width: 300px;
					border-radius: 3px;
					background: #79b429;
					/*text-shadow: #000 1px 1px 2px;*/
				}
				#issues li p {
					font-size: 16px;
					color: #404040;
					font-weight: bold;
					width: 300px;
					margin: 10px 0;
					padding: 10px;
					text-align: center;
					background: white;
					border-radius: 3px;
					/*text-shadow: #000 1px 1px 2px;*/
				}
			
		
		#next,
		#prev {
			position: absolute;
			top: 0;
			font-size: 70px;
			top: 120px;
			width: 22px;
			height: 38px;
			background-position: 0 0;
			background-repeat: no-repeat;
			text-indent: -9999px;
			overflow: hidden;
		}
			#next:hover,
			#prev:hover {
				background-position: 0 -76px;
			}
			#next {
				right: 0;
				background-image: url('../image/next.png');
			}
			#prev {
				left: 0;
				background-image: url('../image/prev.png');
			}
				#next.disabled,
				#prev.disabled {
					opacity: 0.2;
				}
				
			