<div id="hiddenBar">
<div id="switch"></div>
<div id="hide-sidebar">
    <div id="hide-arrow"></div>
    <div class="social" id="hide-social">
        <a href="https://plus.google.com/u/0/101711933192711426030"><img class="icon" src="/image/gplus32bw.png" alt="Google+图标" /></a>
        <a href="https://twitter.com/tiemuxu"><img class="icon" src="/image/twitter32bw.png" alt="Twitter图标" /></a>
        <a href="http://www.douban.com/people/tiemuxu/"><img class="icon" src="/image/dou32bw.png" alt="豆瓣图标" /></a>
        <a href="http://weibo.com/tiemuxu"><img class="icon" src="/image/weibo32bw.png" alt="微博图标" /></a>
    </div>
    <div class="avatar" id="hide-avatar">
        <img src="/image/avatar.jpg" alt="博主的头像" />
    </div>
    <div class="about" id="hide-about">
        <h3>铁木须</h3>
        <p>年龄：24</p>
        <p>现居：上海</p>
        <p>院校：同济大学</p>
        <p>目标：优秀的前端工程师</p>
        <p>签名：岁月静好，今世安稳</p>
        <p>爱好：跑步，飞盘，文学，绘画，恩雅，宫崎骏</p>
    </div>
    <div class="contact" id="hide-contact">
        <h3>联系方式</h3>
        <p>E-mail：tiemuxu@gmail.com</p>
        <p>Google Talk：tiemuxu@gmail.com</p>
    </div>
        
</div>
</div>