<div id="hiddenBar">
    <div id="hBground"></div>
    <div id="tiemuxu">
	    <p>铁</p>
	    <p>木</p>
	    <p>须</p>
	</div>
    <div id="hide-sidebar">
	    <div class="avatar" id="hide-avatar">
            <img src="/image/avatar.jpg" alt="博主的头像" />
        </div>
		<div class="about" id="hide-about">
            <p>年龄：24</p>
            <p>现居：上海</p>
            <p>院校：同济大学</p>
            <p>目标：优秀的前端工程师</p>
            <p>邮箱：tiemuxu@gmail.com</p>
        </div>
        <ul class="social" id="hide-social">
            <li id="gplus"><a href="https://plus.google.com/u/0/101711933192711426030"></a></li>
            <li id="twi"><a href="https://twitter.com/tiemuxu"></a></li>
            <li id="dou"><a href="http://www.douban.com/people/tiemuxu/"></a></li>
            <li id="weibo"><a href="http://weibo.com/tiemuxu"></a></li>
        </ul>   
    </div>
</div>